body{
    min-height: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#logo{
    width: 60px;
  height: 60px;
}

.navbar{
  width: 100%;
  top: 0;
  position: sticky;
}
.navbar #login{
  float: right;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    color: black;
}

#hotelpic{
    width: 500px;
  height: 500px;
}
#fpic{
    width: 22px;
  height: 20px;
}

.page-header{
  background-color: rosybrown;
}

.page-footer{
  background-color: rosybrown;
  bottom: 0; 
  position: fixed; 
  width: 100%; 
  height: 70px;
}
.descp{
  margin-bottom: 100px;
}

#hotelpic{
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}
.form{
  margin-left: 4%;
  margin-right: 4%;
}
ul .foot{
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: black;
  margin-top: 1px;
  padding: 5px;
  
}
ul #contact{
  float: left;
  text-decoration: none;
  color: black;
  
}
ul #copyright{
  text-align: center;
  text-decoration: none;
}
.foot{
    list-style-type: none;
    display: block;
  color: black;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  padding-bottom: 10px;
}
ul div{
  float: right;
}